/*General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sura', serif;
}
h1{
    font-size: 2.5em;
}
h3{
    font-size: 1.7em;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*Header*/

header{
    width: 100%;
    background: url("src/Alien_Ink_2560X1600_Abstract_Background_1.jpg")  no-repeat 80% bottom;
    text-align: center;
    padding: 30px 20px;
}
header h1{
    font-size: 50px;
    margin-bottom: 10px;
}
/*Navigation*/

nav{
    background: #e9e9e9;
    position: sticky;
    top: 0;
    z-index: 2;

}
nav:after{
    content: '';
    display: block;
    clear: both;
}
nav li{
    float: left;
    position: relative;
    background: #e9e9e9;
}
li.active a{
    background: #008ae6;
    color: white;
}
nav a{
    font-family: Arial;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    height: auto;
}
nav a:hover {
    background: #66c2ff;
    color: white;
}
nav span{
    padding-left: 4px;
}
/* zrob potem w javaScript zeby przy szerokosci max 600px zamienic klase .fa-caret-right na .fa-caret-down i zmienic pozycje carety*/

/*dodaj slide down w JQuery  */
.fa-caret-right, .fa-caret-down{
    display: inline-block;
    position: relative;
    top: 50%;
    left: 6px;


}
.hidden {
    display: none;
    position: absolute;
}
.hidden li{
    width: 100%;

}
.hidden li:first-child{
    margin-top: 3px;
}
.side-nav{
    position: absolute;
    left: 90px;
    top: -7px;
    border: 5px solid transparent;
}
nav li:last-child:hover>ul{
    display: block;
}


nav>form, nav>form>button{
    float: right;

}

nav>form>input{
    padding: 6px;
    font-size: 18px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;

}
nav>form>input:focus{
    outline: none;
    border: 1px solid #008ae6;
}
nav>form>.fa{
    margin-top: 4px;
    font-size: 25px;
    padding: 5px 10px;
    color: #333333;
    border: none;
    background: #e9e9e9;
    display: block;
    cursor: pointer;

}
nav>form>button:hover{
    background: #cccccc;
}


@media screen and (max-width: 600px) {
    nav>ul li, nav>form, nav>form>.fa{
        float: none;
        display: block;
        width: 100%;
        margin-top: 0;

    }
    nav>form>input{
        width: 244px;
        -webkit-transition: width 2s ;
        transition: width 2s;
    }
    nav>form>input:focus{
        width: 100%;
    }
    nav>ul>li>ul.hidden{
        position: absolute;
        width: 100%;
    }
    .side-nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .side-nav li{
        width: 100%;
    }
}
/*Slide Show*/
.slide-show{
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background: #f6f6f6;
    margin-bottom: 4px;

}

.slide-show img{
    border-radius: 4px;
}
.slide{
    width: 96%;
    height: auto;
    margin: 0 auto;
    padding: 100px 0 10px;
    display: none;
}
.slide>div{
    position: relative;
}
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #aaaaaa;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;

}
@media screen and (max-width: 600px){
    .circle{
        width: 15px;
        height: 15px;
    }
}


.number, .caption{
    color: white;
    position: absolute;
    font-size: 20px;
}
.number{
    top: 3px;
    left: 3px;
}
.caption{
    bottom: 6%;
    width: 100%;
}

.prev-button, .next-button{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    font-size: 30px;
    padding: 10px 16px;
    font-weight: bold;
    transform: translateY(-50%);
    border-radius:4px 0 0 4px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;

}

@media screen and (max-width: 600px){
    .prev-button, .next-button{
        font-size: 14px;
        padding: 8px 14px;
    }
}


.prev-button:hover, .next-button:hover{
    background: rgba(80,80,80, 0.6);
}
.prev-button{
    /*left: 2%;*/

}
.next-button{
    right: 0;
    border-radius: 0 4px 4px 0;
}

div.circles>span.active, div.circles>span:hover{
    background: #808080;
}

/*Main*/

.container{
    max-width: 1200px;
    margin: 0 auto;

}
div.row:after{
    content: '';
    display: block;
    clear: both;
}
section.main{
    float: left;
    width: 70%;
}
aside{
    float: left;
    width: 30%;
    padding: 20px 10px;
}
.img-container{
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}
article{
    margin-bottom: 35px;
}
article img, .slide-show img{
    width: 100%;
    min-width: 400px;
}
article a, .aside-button{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 25%;
    padding: 10px 20px;
    background: #46a049;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    min-width: 150px;
}
article a{
    margin-left:20px;
    font-size: 20px;
}
.aside-button{
    margin: 10px auto;
    font-size: 16px;
}
article a:hover, .aside-button:hover{
    background: #3e8e41;
    box-shadow: 0 4px 3px #cccccc;
    color: white;
}
article a:active, .aside-button:active{
    box-shadow: 0 1px 3px #cccccc;
    transform: translateY(3px);
}
.container section h1, .container section h3{
    margin: 20px 0;
    color: white;
}
.container p{
    padding: 20px;
    margin-bottom: 25px;
    font-size: 1.2em;
}
.heading-container{
    background: #a4ceda;
    padding: 30px;
    min-width: 400px;
    border-radius: 4px;
}

.aside-container{
    text-align: center;
    background: #f2f2f2;
    margin: 10px 0 0 3px;
}
.aside-container h3{
    text-align: left;
    margin-left: 10%;
}
.aside-article:hover{
    background: #e6e6e6;
}
.aside-article>div{
    width: 80%;
    margin: 0 auto;
    min-width: 150px;
    padding-top: 20px;


}
.aside-article>div>img{
    width: 100%;
    height: auto;
    padding-top: 20px;
}

@media screen and (max-width: 1024px){
    section.main, aside{
        width: 100%;
    }
    .aside-container{
        margin: 30px 0 0 0;
    }
    .aside-container h3{
        text-align: center;
        margin-left: 0;
    }
}



/*Footer*/
footer{
    background: #cccccc;
    margin-bottom: 10px;
    height: 60px;
    font-family: Courier;
    color: white;
}
footer p{
    font-size: 20px;
}
footer>div{
    float: left;
}
footer>ul{
    float: right;
}
footer>ul>li{
    float: left;
    display: block;
    margin-right: 15px;
    padding-top: 6px;
}

@media screen and (max-width: 600px){
    footer>div::after{
        content: '';
        display: block;
        clear: both;
    }
    footer>ul{
        float: none;
        display: block;
        clear: both;
        text-align: center;
    }
    footer>ul>li{
        float: none;
        display: inline-block;
        padding: 10px;
        margin-top: -15px;
    }
}